@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}


body {
  color: var(--foreground);
  background: linear-gradient(#111117, #353344);
  font-family: Arial, Helvetica, sans-serif;
}